@charset "UTF-8";

* {margin: 0%; padding: 0; background-color: #fff; color: #333;}

header { width: 100px; height: 100px; background-color: #e6e600;}
footer { width: 100px; height: 100px; background-color: #e6e600;}

.inner {width: 1200px; height: 100px; margin: 0 auto;
    display: flex; align-items: center; justify-content: space-between; background-color: red;}

.logo{width: 200px; height: 60px; background-color: yellow;}
.nav{width: 800px; height: 100px; background-color: yellowgreen;}

.f1{width: 20%; height: 50px; background-color: lightgray ;}
.f2{width: 60%; height: 50px; background-color: yellow;}
.f3{width: 20%; height: 50px; background-color: lightgray;}

.main {width: 1200px; height: 500px; margin: 0 auto;}

.slideContent {height: 300px; background-color: #b3b300;}

.content{ height: 200px; background-color: #666600 ; display: flex;}
.con1{width: 33.33%; background-color: yellowgreen;}
.con2{width: 33.33%; background-color: pink;}
.con3{width: 33.33%; background-color: yellowgreen;}

